.box-lista-sala{
    width: 50%;
    height: 50%;
    border: 10px;
    color: black;
    overflow-y: scroll;

}

/*Formatacao do Titulo da Sala*/
.box-lista-sala .item-lista .titulo{
    font-size: 30px;
    padding: 10px;

}

.box-lista-sala .item-lista .qdta{
    font-size: 30px;
    border-spacing: 5px;
    color: red;
    margin-top: 10px;
}