.box-salas .containersala{
    border-style: solid;
    border-color: #95a5a6;
    border-radius: 5.5%;
    width: 700px;
    height: 500px;
    margin-left: 40%;
    margin-top: -170px;
    align-items: center;
}

.box-salas .containersala #p{
    font-size: larger;
}
.box-salas .containersala h2{
    text-align: center;
    margin-left: 0;
}

.box-salas .containersala g{
    text-align: center;
    margin-left: 0;
}

.p{
    margin-left: 45%;  
}
.containersala .buttoninit{
    margin-left: 60%;
    margin-top: 0%;
    background: #3D94F6;
    background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
    background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 10px;
    height: 8px;
    line-height: 8px;
    color: #FFFFFF;
    font-family: Arial;
    width: 109px;
    font-size: 23px;
    font-weight: 100;
    padding: 15px;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}