.box-central{
    height: 600px;
    width: 50%;
    margin-left: 25%;
    margin-top: 6%;
    border-radius: 2%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: black;
  }